.tres-columnas {
    background-color: #34383F;
    color: white;
    width: 100%;
    margin-top: 0;
}

.tres-columnas .columna {
    background-color: #34383F;
}

a {
    text-decoration: none;
    color: white;
}

.image {
    width: 100%;
    height: 100%;
    margin-top: -10%;
}

.total {
    width: 100%;
    margin-top: 0;
}

.imagen .columna {
    background: url("../assets/images/header.jpg") no-repeat center center scroll;
    width: 100%;
    min-height: 1rem;
    text-align: center;
    vertical-align: middle;
    background-position-y: 35%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 0%;
}

.dos-columnas .columna {
    /* background-color: white; */
}

footer .total .columna {
    background-color: #34383F;
    width: 100%;
    margin-bottom: 0;
    font-size: 10px;
}

.enlaces {
    color: lightsteelblue;
}

.enlaces:hover {
    color: white;
}

h1,
p,
.title {
    font-family: 'Roboto', sans-serif;
}

.imageR {
    border-radius: 50%;
    width: 50%;
}

.dos-columnas {
    text-align: center;
}

.dos-columnas p,
h2 {
    text-align: left;
}

.title {
    font-size: 20px;
}

i {
    border: 1px #EEEEEE solid;
    padding: 0.1em;
    border-radius: 5%;
}

i.fa-bars {
    margin-left: 7.5em;
}